.menu{
    width: 100%;
    display: flex;
    padding: 5px;
}
.home{
    padding-top: 10px;
    padding-left: 50px;
    flex:2;
}
.page_title{
    padding-top: 10px;
    flex:10;
    text-align: center;
}
.menu>div{
    flex:2;
    align-items: center;
    
}